<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Home - CATS</title>
	</head>
	<body>
		<h1>CATS</h1>
		<p>Welcome,<span th:text="${user.name}"></span>.</p>
		<nav aria-label="Main navigation">
			<ul>
				<li><a th:href="@{/training-calendar}">Training Calendar</a></li>
				<li th:if="${manager}"><a th:href="@{/manager/report}">Report Center</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</nav>
	</body>
	</html>
	<!--将来已有角色首页时，把下面的菜单连接加入各首页即可-->
	<!-- <a th:href="@{/training-calendar}">Training Calendar</a> -->