<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Report Center - CATS</title>
</head>

<body>

<h2>CATS - Report Center</h2>

<hr/>

<h3>Choose a report to generate:</h3>

<p>
  <a th:href="@{/manager/report/attendance}">
    <button type="button">Attendance Report</button>
  </a>
</p>

<p>
  <a th:href="@{/manager/report/budget}">
    <button type="button">Budget Utilisation Report</button>
  </a>
</p>

<hr/>

<p><a th:href="@{/logout}">Logout</a></p>

</body>
</html>
